* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f8fafc;
}
.page {
  width: 100%;
}
.logo {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.logo img {
  width: 100%;
}
.menu {
  display: flex;
  justify-content: center;
}
.nav-link {
  color: #99DDFF!important;
}
.nav-item {
  font-size: 26px;
  font-weight: bold;
  font-family:"Merriweather", "Arial", sans-serif!important;
}
.heading {
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  justify-content: center;
  font-family:"Merriweather", "Arial", sans-serif;
  color: #3FD2C7;
}
.heading h1 {
  font-size: 48px;
  font-weight: bold;
}
.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #99DDFF;
}
.middle {
  font-family:"Merriweather", "Arial", sans-serif;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  background-color: #99DDFF;
  color: #f8fafc;
}
.button1 {
  margin-top: 10px;
  background-color: #00458B;
  border: 5px solid #3FD2C7;
}
.bottom {
  display: flex;
  justify-content: center;
  width: 100%;
}
.list {
  color: #707271;
  font-family:"Merriweather", "Arial", sans-serif;
  padding-top: 25px;
  font-size: 24px;
  justify-content: center;
  width: 60%;
}
li {
  padding-top: 15px;
  padding-bottom: 15px;
}
.footer {
  width: 100%;
  height: 2px;
}
@media only screen and (min-width: 401px) and (max-width: 999px) {

}
/* Desktop Styles */
@media only screen and (min-width: 1000px) {

}
