* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f8fafc;
}
.top {
  width: 100%;
  background-color: #f8fafc;
  display: flex;
  justify-content: center;
}
.page {
  width: 100%;
}
.logo {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.logo img {
  width: 100%;
}
.menu {
  display: flex;
  justify-content: center;
}
.nav-link {
  color: #99DDFF!important;
}
.nav-item {
  font-size: 26px;
  font-weight: bold;
  font-family:"Merriweather", "Arial", sans-serif!important;
}
.heading {
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  justify-content: center;
  font-family:"Merriweather", "Arial", sans-serif;
  color: #3FD2C7;
}
.heading h1 {
  font-size: 48px;
  font-weight: bold;
}
.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #99DDFF;
}
.middle {
  font-family:"Merriweather", "Arial", sans-serif;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
  background-color: #99DDFF;
  color: #f8fafc;
}
.button1 {
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #00458B;
  border: 5px solid #3FD2C7;
  width: 100%;
}
.bottom {
  display: flex;
  justify-content: center;
  width: 100%;
}
.list {
  color: #707271;
  font-family:"Merriweather", "Arial", sans-serif;
  padding-top: 75px;
  padding-bottom: 75px;
  font-size: 20px;
  justify-content: center;
  width: 75%;
}
li {
  padding-top: 15px;
  padding-bottom: 15px;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99DDFF;
  width: 100%;
  height: 100px;
}
a:link {
  color: #f8fafc;
}
a:hover {
  color: #3FD2C7;
}
a:visited {
  color: #00458B;
}
a:visited:hover {
  color: #3FD2C7;
}
.about-header h1 {
  font-family:"Merriweather", "Arial", sans-serif;
  display: flex;
  justify-content: center;
  padding: 15px 0px 15px 0px;
  font-size: 36px;
  background-color: #99DDFF;
  color: #f8fafc;
}
.about-content {
  display: flex;
  justify-content: center;
}
.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: auto;
}
.image-item {
  display: block;
  margin: 0;
  width: 100%;
  height: auto;
  margin-top: 100px;
  margin-bottom: 100px;
}
.image-item img {
  width: 100%;
  height: auto;
}
.about-paragraph {
  background-color: #99DDFF;
  width: 100%;
  display: flex;
  justify-content: center;
}
.about-header {
  text-align: center;
}
.about-paragraph p {
  font-size: 16px;
  text-align: center;
  font-family:"Merriweather", "Arial", sans-serif;
  color: #f8fafc;
  background-color: #99DDFF;
  width: 75%;
  padding-top: 25px;
  padding-bottom: 25px;
}
.sign-up-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}
.sign-up-content p {
  text-align: center;
  width: 60%;
}
.sign-up-field {
  width: 60%;
  background-color: #FFFFFF;
  margin-top: 5px;
  margin-bottom: 5px;
}
.sign-up-item {
  margin: 5px;
  padding: 5px;
  color: #707271;
  border: 1px solid #333333;
}
.sign-up-button {
  background-color: #00458B;
  border: 5px solid #3FD2C7;
  color: #f8fafc;
  padding: 5px 15px 5px 15px;
  margin-top: 15px;
}
.sign-up-button a:visited {
  color: #f8fafc;
}

@media only screen and (min-width: 500px) and (max-width: 991px) {
  .logo {
    width: 10%;
  }
  .button1 {
    width: 60%;
  }
  .list {
    font-size: 24px;
    width: 60%;
  }
  .about-paragraph p {
    font-size: 22px;
  }
  .sign-up-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .sign-up-content p {
    text-align: center;
    width: 40%;
  }
  .sign-up-field {
    width: 40%;
    background-color: #FFFFFF;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
/* Desktop Styles */
@media only screen and (min-width: 992px) {
  .header {
    overflow: hidden;
  }
  .top {
    display: block;
  }
  .logo {
    float: left;
    width: 10%;
  }
  .menu {
    display: block;
    float: right;
    padding-top: 35px;
  }
  .nav-link {
    color: #3FD2C7!important;
  }
  .heading {
    display: block;
    float: left;
    padding-top: 45px;
  }
  .heading h1 {
    padding-left: 5px;
  }
  .button1 {
    width: 30%;
  }
  .list {
    font-size: 28px;
    width: 60%;
  }
  .nav-item {
    padding-left: 50px;
    padding-right: 50px;
  }
  .about-content {
    display: flex;
    justify-content: center;
  }
  .images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    height: auto;
  }
  .image-item {
    display: flex;
    justify-content: center;
    width: 50%;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .image-item img {
    display: block;
    width: 75%;
  }
  .about-paragraph p {
    font-size: 28px;
    width: 60%;
  }
  .sign-up-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 200px;
  }
  .sign-up-content p {
    text-align: center;
    width: 25%;
  }
  .sign-up-field {
    width: 25%;
    background-color: #FFFFFF;
    margin-top: 5px;
    margin-bottom: 5px;
  }

}
